*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
h1{
    min-height: 10%;
    text-align: center;
    padding:15px;
    box-sizing: border-box;
}
.links{
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.pictable{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
}
table{
    margin: 0 auto;
    border: 7px outset black;
    height: 320px;
    width: 70%;
}
td{
    border: 2px solid rgb(109, 109, 109);
}
.tdimage{
    height: 100px;
}
img{
    height: 100px;
}
.tdtext{
    width: 750px;
    height: 100px;
    padding: 5px;
}
h3{
    margin: 33px 0;
}